@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animation-slide-in-left {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-slide-in-left {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

html, body, #root {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

.forecast-body {
  background-color: #d9c3b9;
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.header {
  background-color: #d9c3b9;
  min-height: 100vh;
}

.logo {
  margin-top: 30px !important;
}

.redirect, input, .data:hover, .cache, .weather-location svg {
  cursor: pointer;
}

textPath {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
}

#curve {
  fill: transparent;
}

.sun {
  font-family: "Racing Sans One", cursive;
  font-size: 75px;
  margin: -23% auto 10%;
  text-transform: uppercase;
  text-align: center;
}

.main-cache {
  -webkit-animation: animation-slide-in-left 3s;
          animation: animation-slide-in-left 3s;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d9c3b9;
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(255, 255, 255, 0)), to(#d9c3b9)), url("./img/leaves.jpg");
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 15%, #d9c3b9 100%), url("./img/leaves.jpg");
}

.geo button {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #c7a092), color-stop(41%, #be8d83), to(#c7a092));
  background-image: linear-gradient(to right, #c7a092 10%, #be8d83 41%, #c7a092 100%);
  background-size: 200% auto;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  color: azure;
  font-size: 10px;
  margin: 5px auto;
  -webkit-transition: 1.0s;
  transition: 1.0s;
  text-transform: uppercase;
  padding: 3px 10px;
  width: 30%;
}

.geo button:hover {
  background-position: right center;
  /* change the direction of the change here */
}

input {
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  height: 50px;
  padding-left: 35px;
  margin-bottom: 2% !important;
  outline: none;
  width: 60%;
}

h6 {
  margin-left: -52px;
  position: relative;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.input-container svg {
  z-index: 100 !important;
  margin-right: -30px;
  position: relative;
  top: 2px;
}

.recently-viewed {
  font-family: "Racing Sans One", cursive;
  font-size: 25px;
  margin-top: 5% !important;
  text-transform: uppercase;
}

.cache {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  margin: 0 20px 20px 0;
  padding-top: 15px;
}

.search-results {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: left;
  padding: 20px;
}

.selected {
  background-color: #FFF;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: -10px !important;
  margin-bottom: 15px;
}

.data p {
  margin-bottom: 10px;
}

.weather-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 65px 10px 100px;
  margin: 0 auto 150px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.weather-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto 0;
}

.weather-location h1 {
  font-family: "Racing Sans One", cursive;
  text-transform: uppercase;
  font-size: 35px;
}

.weather-location svg {
  width: 30px;
  height: 25px;
  margin-top: -8px;
  margin-right: 30px;
}

.today-box {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  padding: 20px 40px;
  margin: 0 auto 70px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table {
  margin: 0 auto;
}

b {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  padding-left: 25px;
}

.seven-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seven-day h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.weather-card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  width: 12%;
  margin: 0 10px;
  text-align: center;
  padding: 20px 0 15px;
}

.weather-card svg {
  width: 40px;
  height: 40px;
  margin: 15px;
}

.weather-card p {
  margin-bottom: 0;
}

.today-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.today-icon svg {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

@media screen and (max-width: 992px) {
  .seven-day {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seven-day h2 {
    width: 20%;
    text-align: left;
    font-size: 12px;
  }
  .weather-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px auto;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .weather-location {
    margin-bottom: 20px;
  }
  .today-box {
    padding: 50px 10px;
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 880px) {
  .today-icon {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: inherit !important;
  }
  .search-bar {
    min-height: 80vh;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(255, 255, 255, 0)), to(#d9c3b9)), url("./img/leaves.jpg");
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, #d9c3b9 100%), url("./img/leaves.jpg");
  }
}

@media screen and (max-width: 576px) {
  .today-icon h1, .today-icon svg {
    margin: 0 auto !important;
  }
  .updated-time h2, .updated-time p {
    text-align: center;
  }
  .today-icon {
    margin-bottom: 20px;
  }
}
